<div class="new-dropdown">
    <div class="column first-column">
        <div class="column-title">тип:</div>
        <ul class="dropdown-menu">
            <li class="dropdown-item"><a href="#">МУЛЬТИПРУЖИННЫЕ</a></li>
            <li class="dropdown-item"><a href="#">ДВУСПАЛЬНЫЕ</a></li>
            <li class="dropdown-item"><a href="#">БЕСПРУЖИННЫЕ</a></li>
            <li class="dropdown-item"><a href="#">ТОППЕРЫ-НАМАТРАСНИКИ</a></li>
            <li class="dropdown-item"><a href="#">ОДНОСПАЛЬНЫЕ</a></li>
        </ul>
    </div>
    <div class="column second-column"><div class="column-title">наполнение:</div>
        <ul class="dropdown-menu">
            <li class="dropdown-item"><a href="#">МАТРАСЫ С НАТУРАЛЬНЫМ
                ЛАТЕКСИРОВАННЫМ КОКОСОМ</a></li>
            <li class="dropdown-item"><a href="#">ЛАТЕКСНЫЕ МАТРАСЫ</a></li>
        </ul></div>
    <div class="column third-column"><div class="column-title">размер:</div>
    <ul class="size-menu">
        <li class="size-item"><a href="#">60х120</a></li>
        <li class="size-item"><a href="#">70х140</a></li>
        <li class="size-item"><a href="#">80х190</a></li>
        <li class="size-item"><a href="#">90х190</a></li>
        <li class="size-item"><a href="#">120х190</a></li>
        <li class="size-item"><a href="#">140х190</a></li>
        <li class="size-item"><a href="#">160х190</a></li>
        <li class="size-item"><a href="#">180х190</a></li>
        <li class="size-item"><a href="#">90х200</a></li>
        <li class="size-item"><a href="#">80х200</a></li>
        <li class="size-item"><a href="#">120х200</a></li>
        <li class="size-item"><a href="#">140х200</a></li>
        <li class="size-item"><a href="#">150х200</a></li>
        <li class="size-item"><a href="#">160х200</a></li>
        <li class="size-item"><a href="#">180х200</a></li>
        <li class="size-item"><a href="#">200х200</a></li>

    </ul>
    </div>
</div>